<h1>Heroine description: </h1>

<h2>Heroine name: <%= @heroine.name %></h2>
<h2>Heroine super name: <%= @heroine.super_name %></h2>
<h2>Heroine power: <%= link_to @heroine.power.name, power_path(@power.id) %></h2>
